body *{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.parent {
    width: 100%;
    height: 100vh;
    position: relative;
  }
  .parent::after {
    content: '';
    display: block;
    position: absolute;
    z-index: 0;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: purple;
    -webkit-clip-path: polygon(0 0, 100% 0, 100% 90%, 0 100%);
    clip-path: polygon(0 0, 100% 0, 100% 90%, 0 100%);
  }
  
  .inner {
    display: flex;
    width: 200px;
    height: 200px;
    position: relative;
    top: 400px;
    z-index: 2;
    margin: 0 auto;
    background-color: yellow;
    align-items: center; 
    justify-content: center;
  }